/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require rails_bootstrap_forms
 */

@import "bootstrap";
@import "font-awesome";

// Para conteúdo do body aparecer depois do navbar e não embaixo dele
body { padding-top: 90px; }


.center-pills {
  display: flex;
  justify-content: center;
}

.vertical-align {
  display: flex;
  align-items: center;
}

// Sticky footer solution
// http://stackoverflow.com/questions/21324395/bootstrap-3-flush-footer-to-bottom-not-fixed
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 190px; // set a 30px margin from footer, só always 30px more then footer height
}

.recons-footer {
  position: absolute;
  bottom: 0;
  padding: 30px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  color: #ffffff;
  background-color: #959697;
}


$bgDefault      : #1059a6;
$bgHighlight    : #124294;
$colDefault     : #ffffff;
$colHover       : #ffffff;
$colHighlight   : #ffffff;


/* change the background color */
.navbar-custom {
  background-color: $bgDefault;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
}
/* change the color of active or hovered links */
.navbar-custom .nav-link.active,
.navbar-custom .nav-link:focus,
.navbar-custom .nav-link:hover {
  color: rgba(255,255,255,.5);
}

